<div>
  <h3 align=center>Totalidad de Items en Stock: {{totalItems()}}</h3>
</div>
<div>
  <section class="section">
    <ul>
      <li *ngFor="let items of myCats" [class.selected]="items.selected">
        <img [src] = "items.image"/>
        <h2>{{items.name |uppercase }}</h2>
        <p>{{items.description}}</p>
        <p *ngIf="items.stock > 0">{{items.price | currency: 'EUR': true}}</p>
        <p *ngIf="items.stock > 0">{{items.stock}} in Stock</p>
        <p *ngIf="items.stock === 0">Out of Stock</p>
        <button class="bg-amount" [disabled]="items.quantity === 0" (click)="downQuantity(items)">-</button>
        <input type="number" maxlength="2" placeholder="0" [value]="items.quantity"/>
        <button [disabled]="items.stock === 0"  (click)="upQuantity(items)">+</button>
      </li>
    </ul>
  </section>
</div>
  
  
