<div class="container" [hidden]="submitted">
    <h1>Información del Envío</h1>
    <form (ngSubmit)="onSubmit()" #shippingForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" required
      [(ngModel)]="model.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        El Nombre es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="address">Dirección</label>
      <input type="text" class="form-control" id="address" required
      [(ngModel)]="model.address" name="address" #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        La Direción es requerida
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" id="email" required
      [(ngModel)]="model.email" name="email" #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        El E-mail es requerido
      </div>
    </div>
    <button type="button" class="btn btn-default" (click)="ordenar(); shippingForm.reset()">Borrar</button>
    <button type="submit" class="btn btn-success" [disabled]="!shippingForm.form.valid">Ordenar</button>
  </form>
</div>
<div class="container" [hidden]="!submitted">
    <h2>Confirmar la Información:</h2>
    <div class="row">
      <div class="col-xs-3">Nombre</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Dirección</div>
      <div class="col-xs-9 pull-left">{{ model.address }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">E-mail</div>
      <div class="col-xs-9 pull-left">{{ model.email }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    <button type="submit" class="btn btn-success" [disabled]="!shippingForm.form.valid">Ordenar</button>
  </div>